<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" href="/images/logoMM.png">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">


	<link rel="stylesheet" href="normalize-css/normalize.css">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="application/x-font-ttf" href="bootstrap/dist/fonts/glyphicons-halflings-regular.ttf">
	<link rel="stylesheet" href="stylesheets/style.css">


	<title>MM Drawing Tool</title>
</head>

<body>
	<!-- MAIN CONTAINER  -->
	<div id="wrapper" class="col-md-12">

		<div class="row">
			<!-- TOP NAVIGATION -->
			<nav id="mainNav" class="navbar navbar-fixed-top navbar-inverse">
				<div class="container">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<button id="toolsBtnToggle" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-cog"></span> Tools</button>
						<img id="logoImg" src="/images/logoMM.png" alt="">
					</div>
					<!-- /navbar-header  -->
					<div class="collapse navbar-collapse col-md-8">
						<ul class="nav navbar-nav col-md-12 col-lg-12">
							<li>
								<a id="undo" class="btn" role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-arrow-left"></span> Undo</a>
							</li>
							<li>
								<a id="redo" class="btn" role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-arrow-right"></span> Redo</a>
							</li>
							<li>
								<label for="openFile" class="btn btn-file ">
									<input id="openFile" type="file">
									<span class="glyphicon glyphicon-folder-open"> Open</span>
								</label>
							</li>
							<li>
								<a id="savePNG" class="btn btn-large" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-floppy-save"></span>Save</a>
							</li>
							<li>
								<a id="logoutButton" href="/logout" class="btn btn-large btn-danger col-md-12 col-sm-12 col-xs-12 col-xs-12">Logout</a>
							</li>
						</ul>
					</div>

					<!-- /.nav-collapse -->
				</div>
				<!-- /.container -->
			</nav>
			<!-- /TOP NAVIGATION -->
		</div>
		<!-- / END MAIN NAVIGATION -->

		<div class="row row-eq-height">
			<!-- LEFT NAVIGATION  -->
			<div class="navbar navbar-default sidebarWidth" id="sidebarLeft" role="navigation">
				<div class="container-fluid">
					<!--BRUSHES DROP DOWN-->
					<a id="brushesButton" class="btn btn-primary btn-block" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
					 aria-controls="collapseExample">
						<img src="/images/cupIcon.png" width=20> BRUSHES <span class="caret"></span>
					</a>
					<div class="collapse panel-group" id="collapseExample" role="tablist" aria-multiselectable="true">
						<div id="brushesDropdown" class="panel panel-default" style="border: 1px black solid">
							<div id="konteinerche" class="panel-body" style="padding: 0px;">

								<button id="pencil" href="#" class=" btn btn-large btn-success col-md-12 col-lg-12 col-xs-12 col-sm-12"> 
								<img id="pencil" class="BrushTools" src="/images/pencilIcon.png" alt="" />Pencil</button>


								<button id="spray" href="#" class=" btn btn-large btn-success col-md-12 col-lg-12 col-xs-12 col-sm-12"> 
								<img id="spray" class="BrushTools" src="/images/sprayIcon.png" alt="" />Spray</button>



								<button id="doted" href="#" class="btn btn-large btn-success col-md-12 col-lg-12 col-xs-12 col-sm-12">
								<img id="doted" class="BrushTools" src="/images/dotedIcon.png" alt="" />Doted</button>



								<button id="vLine" href="#" class="btn btn-large btn-success col-md-12 col-lg-12 col-xs-12 col-sm-12">
								<img id="vLine" class="BrushTools" src="/images/vLineIcon.png" alt="" />V.Line</button>

								<button id="hLine" href="#" class="btn btn-large btn-success col-md-12 col-lg-12 col-xs-12 col-sm-12">
								<img id="hLine" class="BrushTools" src="/images/hLineIcon.png" alt="" />H.Line</button>



								<button id="square" href="#" class="btn btn-large btn-success col-md-12 col-lg-12 col-xs-12 col-sm-12">
								<img id="square" class="BrushTools" src="/images/squareIcon.png" alt="" />Square</button>

								<button id="texture" class="btn btn-large btn-success col-md-12 col-lg-12 col-xs-12 col-sm-12" href="#" data-toggle="collapse"
								 data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
								 <img id="texture" class="BrushTools" src="/images/textureIcon.png" alt=""/>Texture</button>

								<div class="collapse" id="collapseExample2">
									<div id="TextureList" class="panel-body">
										<img id="lava" class="BrushTools" src="/images/lavaIcon.png" alt="lava">
										<img id="water" class="BrushTools" src="/images/waterIcon.png" alt="lava">
										<img id="grass" class="BrushTools" src="/images/grassIcon.png" alt="lava">
										<img id="wood" class="BrushTools" src="/images/woodIcon.png" alt="lava">
										<img id="stone" class="BrushTools" src="/images/stoneIcon.png" alt="lava">
										<img id="textile" class="BrushTools" src="/images/textileIcon.png" alt="lava">
										<img id="redTexture" class="BrushTools" src="/images/redTextureIcon.png" alt="lava">
										<img id="blueTexture" class="BrushTools" src="/images/blueTextureIcon.png" alt="lava">
										<img id="drops" class="BrushTools" src="/images/dropsIcon.png" alt="lava">
									</div>
								</div>

								<button id="circle" href="#" class="btn btn-large btn-success col-md-12 col-lg-12 col-xs-12 col-sm-12">
								<img id="circle" class="BrushTools" src="/images/circleIcon.png" alt="" />Circle</button>

								<button id="rainbow" href="#" class="btn btn-large btn-success col-md-12 col-lg-12 col-xs-12 col-sm-12"> 
								<img id="rainbow" class="BrushTools" src="/images/rainbowIcon.png" alt=""/>Rainbow</button>
							</div>
						</div>
					</div>
					<!--OPTIONS DROP DOWN-->
					<a id="OptionsButton" class="btn btn-primary btn-block" role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false"
					 aria-controls="collapseExample3">
						<span class="glyphicon glyphicon-wrench"></span> Options <span class="caret"></span>
					</a>
					<div class="collapse" id="collapseExample3">
						<div class="well">
							<div id="slider">
								<input class="bar" type="range" id="rangeinput" value="10" />
								<span class="highlight"></span>
								<div id="rangevalue">10</div>
							</div>
							<label for="slider">Brush Size <span class="glyphicon glyphicon-resize-vertical" ></span></label>
							<div id="opacitySlider">
								<input class="bar" type="range" id="opacityRangeinput" value="0" />
								<span class="highlight"></span>
								<div id="opacityRangevalue">0</div>
							</div>
							<label for="opacitySlider">Shadow Size <span class="glyphicon glyphicon-resize-vertical" ></span></label>
							<div id="shadowOffsetX">
								<input class="bar" type="range" id="shadowOffsetXInput" value="0" />
								<span class="highlight"></span>
								<div id="shadowOffsetXRangevalue">0</div>
							</div>
							<label for="shadowOffsetX">Shadow <span class="glyphicon glyphicon-arrow-right" ></span></label>
							<div id="shadowOffsetY">
								<input class="bar" type="range" id="shadowOffsetYInput" value="0" />
								<span class="highlight"></span>
								<div id="shadowOffsetYRangevalue">0</div>
							</div>
							<label for="shadowOffsetY">Shadow <span class="glyphicon glyphicon-arrow-down" ></span></label>
							<input type="color" id="colorPicker">
							<label for="colorPicker">Brush Color <span class="glyphicon glyphicon-tint" ></span></label>
							<input type="color" id="colorPickerShadow">
							<label for="colorPickerShadow">Shadow Color <span class="glyphicon glyphicon-tint" ></span></label>
							<input type="color" id="colorBackground">
							<label for="colorBackground">Background Color <span class="glyphicon glyphicon-tint" ></span></label>
						</div>
					</div>
					<!--/OPTIONS DROP DOWN END-->
					<img id="PaintBucket" class="circleButtons" src="/images/paintBucketIcon.png" alt="Paint Bucket">
					<img id="CleanBackground" class="circleButtons" src="/images/cleanBackgroundIcon.png" alt="Clean Background">
					<img id="Rubber" class="circleButtons btn" src="/images/rubberIcon.png" alt="Rubber">
					<button id="changeMode" class="btn-primary btn-block"><span class="glyphicon glyphicon-move"></span> Cancel Drawing</button>
					<button id="deleteObject" class="btn-warning btn-block hidenElement"><span class="glyphicon glyphicon-remove-sign"></span> Remove Selected</button>
					<button id="clearCanvas" class="btn-danger btn-block" style="margin-bottom: 10px;"><span class="glyphicon glyphicon-trash"></span> Clear MM Paint</button>
				</div>
			</div>
			<!-- / END LEFT NAVIGATION  -->

			<!-- DRAWING TABLE  -->
			<div id="structure-content" class="col-xs-12 col-sm-12">
				<canvas id="structure-drawer">
					Sorry, your browser doesn't support the &lt;canvas&gt; element.
				</canvas>
			</div>
			<!-- / DRAWING TABLE END  -->
		</div>

	</div>
	<!-- /END MAIN CONTAINER -->

	<footer id="footer" class="footer modal-footer col-md-12">
		<div class="container">
			<p>Original project by Mariyan and Momchil</p>
			<a href="https://github.com/MariyanBudinov/DrawingTool" target="blank">Link to github</a>
		</div>
	</footer>

</body>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/fabric.js/dist/fabric.js"></script>
<script src="/javascripts/brushes.js"></script>
<script src="/javascripts/functionality.js"></script>
<script src="/javascripts/getOrPostDrawing.js"></script>
<script>
	window.fbAsyncInit = function () {
		FB.init({
			appId: '1487666597973757',
			cookie: true,
			xfbml: true,
			version: 'v2.8'
		});
		FB.AppEvents.logPageView();
	};

	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) { return; }
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

</script>

</html>