<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" href="/images/logoMM.png">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">


	<link rel="stylesheet" href="normalize-css/normalize.css">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="application/x-font-ttf" href="bootstrap/dist/fonts/glyphicons-halflings-regular.ttf">
	<link rel="stylesheet" href="stylesheets/style.css">


	<title>MM Drawing Tool</title>
</head>

<body>
	<!-- MAIN CONTAINER  -->
	<div id="wrapper" class="col-md-12">

		<div class="row">
			<!-- TOP NAVIGATION -->
			<nav id="mainNav" class="navbar navbar-fixed-top navbar-inverse">
				<div class="container">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<button id="toolsBtnToggle" class="btn btn-lg btn-danger">Tools</button>
						<img id="logoImg" src="/images/logoMM.png" alt="">
						<a class="navbar-brand" href="#"> Drawing Tool</a>
					</div>
					<!-- /navbar-header  -->
					<div class="collapse navbar-collapse col-md-8">
						<ul class="nav navbar-nav">
							<li>
								<a id="undo" role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-arrow-left"> Undo</a>
							</li>
							<li>
								<a id="redo" role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-arrow-right"> Redo</a>
							</li>
							<li>
								<a id="uploadFile" role="menuitem" tabindex="-1" href="#">
									<input id="file" type="file">
									<label for="file"><span class="glyphicon glyphicon-folder-open"> Open</label>
								</a>
							</li>
							<li>
								<a id="savePNG" role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-floppy-save"> Save</a>
							</li>
						</ul>
					</div>
					<a href="/logout" class="btn btn-large btn-danger">Logout</a>
					<!-- /.nav-collapse -->
				</div>
				<!-- /.container -->
			</nav>
			<!-- /TOP NAVIGATION -->
		</div>
		<!-- / END MAIN NAVIGATION -->


		<div class="row row-eq-height">

			<!-- LEFT NAVIGATION  -->
			<div class="navbar navbar-default sidebarWidth" id="sidebarLeft" role="navigation">
				<div class="container-fluid">
					<!--BRUSHES DROP DOWN-->
					<div class="dropdown">
						<button id="brushesButton" class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown"><img src="/images/cupIcon.png" width=20 > BRUSHES
  							<span class="caret"></span>
						</button>
						<ul id="brushesDropdown" class="dropdown-menu">
							<li id="Pencil">
								<a id="Pencil" href="#"><img id="Pencil" class="BrushTools" src="/images/pencilIcon.png" alt=""> Pencil</a>
							</li>
							<li id="Spray">
								<a id="Spray" href="#"><img id="Spray" class="BrushTools" src="/images/sprayIcon.png" alt=""> Spray</a>
							</li>
							<li id="Doted">
								<a id="Doted" href="#"><img id="Doted" class="BrushTools" src="/images/dotedBrushIcon.png" alt=""> Doted</a>
							</li>
							<li id="V.Line">
								<a id="V.Line" href="#"><img id="V.Line" class="BrushTools" src="/images/vLineIcon.png" alt=""> V.Line</a>
							</li>
							<li id="H.Line">
								<a id="H.Line" href="#"><img id="H.Line" class="BrushTools" src="/images/hLineIcon.png" alt=""> H.Line</a>
							</li>
							<li id="Square">
								<a id="Square" href="#"><img id="Square" class="BrushTools" src="/images/squareIcon.png" alt=""> Square</a>
							</li>
							<li id="Texture">
								<a id="Texture" href="#"><img id="Texture" class="BrushTools" src="/images/textureIcon.png" alt=""> Texture</a>
							</li>
							<li id="Circle">
								<a id="Circle" href="#"><img id="Circle" class="BrushTools" src="/images/circleIcon.png" alt=""> Circle</a>
							</li>
							<li id="Rainbow">
								<a id="Rainbow" href="#"><img id="Rainbow" class="BrushTools" src="/images/rainbowIcon.png" alt=""> Rainbow</a>
							</li>
						</ul>
					</div>
					<!--/BRUSHES DROP DOWN END-->
					<div id="slider">
						<input class="bar" type="range" id="rangeinput" value="10" />
						<span class="highlight"></span>
						<output id="rangevalue">10</output>
					</div>
					<label for="slider">Brush Size</label>
					<div id="opacitySlider">
						<input class="bar" type="range" id="opacityRangeinput" value="100" />
						<span class="highlight"></span>
						<output id="opacityRangevalue">100</output>
					</div>
					<label for="opacitySlider">Brush Opacity</label>
					<div>
						<input type="color" id="colorPicker">
						<label for="colorPicker">Brush Color</label>
					</div>
					<img id="PaintBucket" src="/images/paintBucketIcon.png" alt="Paint Bucket">
					<button id="changeMode" class="btn-primary btn-block"><span class="glyphicon glyphicon-move"></span> Cancel Drawing</button>
					<button id="clearCanvas" class="btn-danger btn-block"><span class="glyphicon glyphicon-trash"></span> Clear MM Paint</button>
				</div>
			</div>
			<!-- / END LEFT NAVIGATION  -->

			<!-- DRAWING TABLE  -->
			<div id="structure-content" class="col-xs-12 col-sm-12">
				<canvas id="structure-drawer">
					Sorry, your browser doesn't support the &lt;canvas&gt; element.
				</canvas>
			</div>
			<!-- / DRAWING TABLE END  -->

		</div>


	</div>
	<!-- /END MAIN CONTAINER -->

	<footer id="footer" class="footer modal-footer col-md-12">
		<div class="container">
			<p>Original project by Mariyan and Momchil</p>
			<a href="https://github.com/MariyanBudinov/DrawingTool" target="blank">Link to github</a>
		</div>
	</footer>

</body>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/fabric.js/dist/fabric.js"></script>
<script src="/javascripts/brushes.js"></script>
<script src="/javascripts/functionality.js"></script>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1487666597973757',
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</html>