<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../public/stylesheets/loginStyle.css">
    <link rel="stylesheet" href="../public/stylesheets/normalize.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstraptheme.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf">

    <title>Login</title>

</head>

<body>
    <div class="container">

        <header class="jumbotron">
            <h1 class="page-header">Welcome to Drawing Tool!</h1>
            <h6>A project by Mariyan and Momchil</h6>
            <p>To begin, sign up or login</p>
        </header>

        <main>

        </main>
    </div>
</body>
<script src="..\bower_components\bootstrap\dist\js\bootstrap.min.js"></script>


</html>