<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/normalize-css/normalize.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="application/x-font-ttf" href="/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf">

    <title>Login</title>

</head>

<body style="background-image:url(/images/background.jpg)">

    {{!--
    <div class="container">--}}
        <div class="col-md-12">
            <header class="container">
                <div class="col-md-12">
                    <h1 class="page-header" style="text-align: center">Welcome to Drawing Tool!</h1>
                    {{!--<p class="lead col-md-offset-4">A project by Mariyan and Momchil</p>--}}
                </div>
                <fieldset  class="col-md-12">
                    <form action="" class="container-fluid col-md-offset-4 col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password">
                        </div>
                        <button class="btn btn-large btn-success col-md-4 col-md-offset-4">Sign in</button>
                    </form>
                </fieldset>
            </header>
        </div>

        
</body>

<script src="/jquery/dist/jquery.min.js"></script>

</html>